/* fonts */
@font-face {
    font-family: "kino-regular";
    src: url("./assets/fonts/Kino-Regular.ttf");
}
@font-face {
    font-family: "inter-semibold";
    src: url("./assets/fonts/Inter-SemiBold.ttf");
}
@font-face {
    font-family: "oswald-light";
    src: url("./assets/fonts/Oswald-Light.ttf");
}
@font-face {
    font-family: "oswald-medium";
    src: url("./assets/fonts/Oswald-Medium.ttf");
}
@font-face {
    font-family: "oswald-medium";
    src: url("./assets/fonts/Oswald-Regular.ttf");
}
@font-face {
    font-family: "roboflex-regular";
    src: url("./assets/fonts/RobotoFlex-Regular.ttf");
}

/* global */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FDFBF4;
}

/* container */
.container {
    width: 100%;
    max-width: calc(1440px - 80px - 80px); /*1440px*/
    margin: 0 auto;
    padding: 0 80px; /*80*/
}

/* header */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.logo {
    position: relative;
    width: 80px;
    height: 50px;
    background-color: transparent;
    border: 8px solid #131C30;
}

.logo__wrap {
    width: 70px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo__item {
    position: relative;
    display: inline-block;
    overflow: hidden;
    white-space: pre;

    color: #131C30;
    font-size: 45px;
    font-family: "kino-regular";
}

.logo__item::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    content: attr(data-content);
    overflow: hidden;

    color: #BC2630;
    font-size: 45px;
    font-family: "kino-regular";
}

.logo__item--first {
    color: #BC2630;
}

.logo__item--first::before {
    color: #131C30;
}

.nav__item {
    color: #131C30;
    margin-right: 38px;
    text-decoration: none;
    font-size: 20px;
    font-family: "inter-semibold";
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__item:hover {
    text-decoration: underline;
}

/* intro */
.intro {
    position: relative;
    padding-top: 144px;
}

.intro-header {
    max-width: 936px;
    color: #131C30;
    font-size: 96px;
    font-family: "kino-regular";
}

.intro-subheader {
    margin-top: 20px;
    color: #131C30;
    font-size: 64px;
    font-family: "oswald-regular";
}

.excursions-btn {
    display: none;
    

    background-color: #7C0E13E5;
    padding: 26px 84px;

    color: #131C30;
    font-size: 40px;
    font-family: "oswald-regular";

    margin-top: 20px;
}

.bg {
    z-index: -5;
   
    position: absolute;
    top: 0;
    right: -80px;

    display: flex;
    flex-direction: row;
}


.bg__item {
    height: 813px;
    width: 331px;
    margin-left: 21px;
}

.bg__item--red {
    background-color: #BC2630   ;
}

.bg__item--yellow {
    background-color: #CC9226;
}

.bg__item--blue {
    background-color: #454E62;
}