/* fonts */
@font-face {
    font-family: "kino-regular";
    src: url("./assets/fonts/Kino-Regular.ttf");
}

@font-face {
    font-family: "inter-semibold";
    src: url("./assets/fonts/Inter-SemiBold.ttf");
}

@font-face {
    font-family: "oswald-light";
    src: url("./assets/fonts/Oswald-Light.ttf");
}

@font-face {
    font-family: "oswald-medium";
    src: url("./assets/fonts/Oswald-Medium.ttf");
}

@font-face {
    font-family: "oswald-regular";
    src: url("./assets/fonts/Oswald-Regular.ttf");
}

@font-face {
    font-family: "roboflex-regular";
    src: url("./assets/fonts/RobotoFlex-Regular.ttf");
}

/* global */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FDFBF4;
}

/* container */
.container {
    width: 100%;
    max-width: calc(1440px - 80px - 80px);
    margin: 0 auto;
    padding: 0 80px;
}



/* header */
.header {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 66px 0;
}

.logo {
    position: absolute;
    left: 0;

    box-sizing: border-box;
    width: 109px;
    height: 85px;
    background-color: transparent;
    border: 8px solid #131C30;

}

.logo__wrap {
    white-space: nowrap;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo__item {
    position: relative;
    display: inline-block;
    overflow: hidden;
    white-space: pre;

    color: #131C30;
    font-size: 58px;
    font-family: "kino-regular";
}

.logo__item::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    content: attr(data-content);
    overflow: hidden;

    color: #BC2630;
    font-size: 58px;
    font-family: "kino-regular";
}

.logo__item--first {
    color: #BC2630;
}

.logo__item--first::before {
    color: #131C30;
}

.nav {
    width: 955px;
    display: flex;
    justify-content: space-between;
}

.nav__item {
    color: #131C30;
    margin-right: 38px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    font-family: "inter-semibold";
    text-transform: uppercase;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__item:hover {
    text-decoration: underline;
}

/* intro */
.intro {
    position: relative;
    height: 1104px;
}

.bg {
    z-index: -5;
    position: relative;
}

.bg__wrap {
    position: absolute;
    right: -80px;
    top: 0;

    display: flex;
    flex-direction: row;
}

.bg__item {
    height: 813px;
    width: 331px;
    margin-left: 21px;
}

.bg__item--red {
    background-color: #BC2630;
}

.bg__item--yellow {
    background-color: #CC9226;
}

.bg__item--blue {
    background-color: #454E62;
}

.subtext {
    position: absolute;
    right: 0px;
    top: calc(813px + 17px);

    font-size: 20px;
    font-weight: 400;
    font-family: "roboflex-regular";
}

.intro-header {
    position: relative;
    max-width: 936px;
    padding-top: 144px;

    line-height: 130%;
    color: #131C30;
    font-size: 96px;
    font-family: "kino-regular";
    font-weight: 400;
    text-transform: uppercase;
}

.intro-subheader {
    position: relative;
    margin-top: 20px;

    color: #131C30;
    font-size: 64px;
    font-family: "oswald-regular";
    font-weight: 400;
    text-transform: uppercase;
}

.header-shadow {
    text-shadow: 2px 2px #FDFBF4;
}

.ex-btn {
    margin-top: 40px;

    display: block;
    width: 522px;
    height: 112px;
    background-color: #7C0E13E5;
    position: relative;
    
    transition: background-color 0.1s linear,
                border 0.1s linear;
}

.ex-btn:hover {
    box-sizing: border-box;
    border: 12px solid #540006;
}

.ex-btn:focus {
    background-color: #540006;
}

.ex-btn:disabled {
    background-color: #555555;
}

.ex-btn-text {
    width: max-content;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #FDFBF4;
    font-size: 40px;
    font-family: "oswald-regular";
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.intro-article {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 1200px;

    letter-spacing: -0.015em;
    line-height: 57px;
    font-family: "roboflex-regular";
    font-weight: 400;
    font-style: normal;
    font-size: 34px;
    color: #131C30;
}

/* section */
.section {
    margin-top: 120px;
}

.section-header {
    position: relative;
    margin-left: calc(44px + 42px);

    font-family: "oswald-medium";
    font-size: 48px;
    color: #131C30;

}

.section-header::before {
    content: '';
    width: 44px;
    height: 44px;
    background-color: #BC2630;

    position: absolute;
    top: 15px;
    left: -86px;
}

/* authors */
.author__item {
    position: relative;
    margin-top: 120px;
}

.author__item:first-child {
    margin-top: 40px;
}

.author-img-box {
    position: absolute;
    left: -80px;
    bottom: 0px;
}

.author-img {
    width: 507px;
    height: auto;
}

.author-shadow {
    position: absolute;
    z-index: -1;
}

.author__item--tatlin .author-shadow {
    left: -11px;
    width: 425.66px;
    height: 585.66px;
}

.author__item--rodchenko .author-shadow {
    top: 22px;
    left: 266px;
    width: 240.66px;
    height: 585.66px;
}

.author__item--lisicki .author-shadow {
    top: 38px;
    left: -16px;
    width: 219.66px;
    height: 559.66px;
}

.author-about {
    margin-left: calc(495px + 44px);
    max-width: 630px;
}

.author__item--swap .author-about {
    margin-left: 40px;
}

.author__item--swap .author-img-box {
    left: unset;
    right: -80px;
}

.author-name {
    position: relative;
    font-family: "oswald-regular";
    font-weight: 300;
    font-size: 48px;
    color: #131C30;
}

.author-name::before {
    content: '';
    display: block;
    width: 110px;
    /* height: 280px; */
    background-color: #CC9226;

    position: absolute;
    /* top: -55px;
    left: 50px; */
    transform: rotate(-95deg);

    z-index: -1;
}

.author__item--tatlin .author-name::before {
    height: 270px;
    top: -52px;
    left: 40px;
}

.author__item--rodchenko .author-name::before {
    height: 322px;
    top: -74px;
    left: 66px;
}

.author__item--lisicki .author-name::before {
    height: 349px;
    top: -90px;
    left: 78px;
}

.author__item--swap .author-name::before {
    transform: rotate(-85deg);
}

.author-surname {
    font-weight: 400;
    font-size: 64px;
    text-transform: uppercase;
}

.author-intro {
    margin-top: 30px;

    font-family: "roboflex-regular";
    font-weight: 400;
    font-size: 38px;
    line-height: 57px;
    color: #131C30;
}

.more-info {
    display: block;
    width: 413px;
    height: 124px;
    background: #454E62;
    margin-top: 32px;

    position: relative;

    transition: background-color 0.1s linear,
                border 0.1s linear;
}

.more-info:hover {
    box-sizing: border-box;
    border: 12px solid #131C30;
}

.more-info:focus {
    background-color: #131C30;
}

.more-info:disabled {
    background-color: #555555;
}

.more-info__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 350px;
}

.more-info-text {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    position: relative;
    
    color: #FDFBF4;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'oswald-regular';
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.015em;
    text-decoration: none;

    width: 100%;
}

.more-info-text::before {
    content: '';
    display: block;
    width: 134px;
    height: 5px;
    background-color: #FDFBF4;
    
    position: absolute;
    top: 50%;
    right: -130%;
    transform: translate(-50%, -50%);
}

.more-info-text::after {
    content: '';
    display: block;
    border: solid #FDFBF4;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-45deg);

    position: absolute;
    top: 38%;
    right: -94%;
}

.more-authors-wrap {
    width: 100%;
    text-align: center;
    margin-top: 120px;
}

.more-authors {
    margin: 0 auto;

    display: block;
    width: 572px;
    height: 60px;

    font-family: 'oswald-regular';
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    text-decoration: none;
    color: #454E62;
    text-align: left;

    position: relative;
}

.more-authors::after {
    content: '';
    display: inline-block;
    width: 134px;
    height: 5px;
    background: #454E62;

    position: absolute;
    top: 50%;
    right: -10%;
    transform: translate(-50%, -50%);
}

.more-authors::before {
    content: '';
    display: block;
    border: solid #454E62;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-45deg);

    position: absolute;
    top: 38%;
    right: 1.5%;
}

.more-authors:hover {
    text-decoration: underline;
}

.filler {
    width: 10px;
    height: 1000px;
}